<nav id="lienMenuVertical">
    <span class="titreMenuVertical">Général</span><br>
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_matiere_premiere') }}">Matières Premières</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_affichage_fournisseur') }}">Fournisseurs</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_nomenclature') }}">Nomenclatures</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Firmware</a><br>
        
        {% image 'img/plus.png' %}
            <span id="sousMenu1" class="sousMenu"><img id="sousMenu11" class="imgFlecheliste majuscule" src="{{ asset_url }}" alt="Fleche Bas" />Produits Finis</span><br>
        {% endimage %}
        
        <div class="divSousMenu" id="sousMenu111">
            <a class="sousSousMenu" href="">Lecteur</a><br>
            <a class="sousSousMenu" href="">Identifiants</a><br>
            <a class="sousSousMenu" href="">Autre</a><br>
        </div>
        
    <span class="titreMenuVertical">Options</span><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_affichage_sous_famille') }}">Sous Famille</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Type badge</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Type lecteur</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Type autre</a><br>
</nav>