<nav id="lienMenuVertical">
    <span class="titreMenuVertical">Général</span><br>
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_matiere_premiere') }}">Matières Premières</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_administration_affichage_fournisseur') }}">Fournisseurs</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Nomenclatures</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Firmware</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Produits Finis</a><br>
        
    <span class="titreMenuVertical">Options</span><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Famille</a><br>
        <a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Sous Famille</a><br>

</nav>