<nav id="lienMenuVertical">
	<span class="titreMenuVertical">Appro MP</span><br>
	
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">MP nécessaire à la production</a><br>
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">MP en état critique</a><br>
        
	<span class="titreMenuVertical">Appro PF</span><br>
	
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Identifiants</a><br>
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Autres</a><br> 

	<span class="titreMenuVertical">Appro En Cours</span><br>
	
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Matière Première</a><br>
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Produits Finis</a><br> 

	<span class="titreMenuVertical">Envoi MP Sous-Traitant</span><br>
	
		<a class="sousMenu decalageNoPlus" href="{{ path('ic_production_interne') }}">Liste sous traitant MP manquant</a><br>
        
</nav>