<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
            'css/base.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header id="entete">
            <img src="{{ asset('img/logo.png') }}" alt="logo idcapt">
            <div>{% block entete %}{% endblock %}</div>
        </header>
        <nav id="menuHorizontal">
            <a href="{{ path('ic_affichage_composant_interne') }}">Affichage</a>
            <a href="{{ path('ic_affichage_composant_interne') }}">Approvisionnement</a>
            <a href="{{ path('ic_production_previsionnelle_interne') }}">Production</a>
            <a href="{{ path('ic_affichage_composant_interne') }}">Contrôle Qualité</a>
            <a href="{{ path('ic_affichage_composant_interne') }}">Produit Fini</a>
            <a href="{{ path('ic_affichage_composant_interne') }}">Administration</a>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {% javascripts 
	       'js/jquery.js' %}
	           <script type="text/javascript" src="{{ asset_url }}"></script>
	       {% endjavascripts %}
        {% endblock %}
    </body>
</html>
