{% extends "ICAdministrationBundle::layout.html.twig" %}
{% block title %}{{ parent() }} - Nomenclature{% endblock %}

{% block entete %}{{ parent() }} Nomenclature{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
	'@ICAdministrationBundle/Resources/public/css/nomenclature.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block page %}

	{{ parent()}}
        {% if modifNomenclature != 0 %}
            <form method="post" action="{{ path('ic_administration_update_nomenclature', {idNomenclature: modifNomenclature}) }}">
        {% else %}
            <form method="post" action="{{ path('ic_administration_add_nomenclature') }}">
        {% endif %}
            <table class="">
                <tr>
                    <td colspan="2">Designation</td>
                    <td>Version</td>
                    <td colspan="2">Nomenclature</td>
                    {% if allVersion == 0 %}<td></td>{% endif%}
                </tr>
                {% if allVersion == 0  and modifNomenclature == 0 %}
                    <tr>
                        <td><input type="text" name="nomenclature"></td>
                        <td><input type="submit"></td>
                         <td colspan="4"></td>
                    </tr>
                {% endif %}
    {% if nomenclatures is not empty %}   
        {% set idNomenclature = 0 %}
       
                {% for versionNomenclature in nomenclatures %}
                    {% if versionNomenclature.nomenclature.id != idNomenclature or allVersion == 1 %}
                        {% set idNomenclature = versionNomenclature.nomenclature.id %}
                        
                        <tr>
                            {% if allVersion == 0  and modifNomenclature == 0 %}
                                <td class="">{{ versionNomenclature.nomenclature.nom }}</td>          
                                <td class=""><a href="{{ path('ic_administration_nomenclature', {idNomenclature: versionNomenclature.nomenclature.id}) }}">Modifier Désignation</a></td> 
                                {% else %}
                                    {% if modifNomenclature == versionNomenclature.nomenclature.id %}
                                        <td class=""><input type="text" name="nomNomenclature" placeholder="{{ versionNomenclature.nomenclature.nom }}"></td> 
                                        <td class=""><input type="submit" value="Go"></td> 
                                    {% else %}
                                        <td colspan="2" class="">{{ versionNomenclature.nomenclature.nom }}</td>  
                                  {% endif %}
                                {% endif %}                        
                            <td>{{ versionNomenclature.version }}</td>
                            <td><a href="{{ path('ic_administration_composant_nomenclature', {idNomenclature: versionNomenclature.id}) }}">PCB</a></td>
                            <td><a href="{{ path('ic_administration_produit_fini_nomenclature', {idNomenclature: versionNomenclature.id}) }}">Produit Fini</a></td>
                            
                            {% if allVersion == 0 %}<td><a class="versionPlus" href="{{ path('ic_administration_add_version_nomenclature', {idNomenclature: versionNomenclature.nomenclature.id}) }}"></a></td>{% endif%}     
                        </tr>
                    {% endif %}
                {% endfor %}

            {% if allVersion == 0 %}
                <a href="{{ path('ic_administration_nomenclature', {allVersion: 1}) }}">Afficher toute les versions</a>
            {% else %}
                 <a href="{{ path('ic_administration_nomenclature', {allVersion: 0}) }}">Afficher seulement les dernières versions</a>
            {% endif %}
    {% endif %}
        </table>
    </form>
{% endblock %}
