{% extends 'ICProductionBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Stock Interne{% endblock %}

{% block entete %}{{ parent() }} Stock Interne{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
	'@ICProductionBundle/Resources/public/css/listInterne.css' %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
	{% endstylesheets %}
{% endblock %}

{% block body %}
{{ parent() }}
<h1></h1>
<table>
	<tr>
		<td>designation</td>
		<td>Quantité nécessaire</td>
		<td>Stock Restant</td>
	</tr>
	{% for composant in composantNomenclature %}
		{% set quantiteTotale = composant.quantite * quantite %}
		<tr class="{% if composant.composant.stockInterne - quantiteTotale < 0 %}stockInsufisant{% endif %}">
			<td>{{composant.composant.nom}}</td>
			<td>{{quantiteTotale}}</td>
			<td>{{composant.composant.stockInterne - quantiteTotale}}</td>
		</tr>
	{% endfor %}
</table>
{% endblock %}